.list-section .requests-list {
  margin-bottom: 2%;
}
.list-section .requests-list .requests-list-item {
  background-color: #800000;
  color: #FFFFFF;
  overflow: auto;
  width: 90%;
  margin: 0 auto;
  padding: 1% 0;
  border-left: solid;
  border-bottom: solid;
  border-right: solid;
  border-radius: 5px;
  border-color: #000000;
}
.list-section .requests-list .requests-list-item form {
  float: left;
}
.requests-list .requests-list-item .requests-list-item-info {
  overflow: auto;
}
.requests-list-item-info-left img {
  width: auto;
  height: 60px;
  float: left;
  padding: 0 5px;
  background-color: #800000;
  color: #FFFFFF;
}
.requests-list-item-info-left {
  width: 65%;
  height: inherit;
  float: left;
}
.requests-list-item-info-name {
  float: left;
}
.requests-list-item-info-email,
.requests-list-item-info-last,
.requests-list-item-info-first {
  margin: 0;
}
.requests-list-item-info-last,
.requests-list-item-info-first {
  font-size: 120%;
}
.requests-list-item-info-right {
  width: 30%;
  height: inherit;
  float: right;
  margin: 1% 1% 0 0;
}
.requests-list-item-info-type-label,
.requests-list-item-info-type {
  float: right;
}
.requests-list-item-info-type {
  font-style: italic;
}
