.list-section .student-list {
  margin-bottom: 2%;
}
.list-section .student-list .student-list-item {
  background-color: #800000;
  color: #FFFFFF;
  height: 30px;
  width: 90%;
  margin: 0 auto;
  padding: 1% 0;
  border-left: solid;
  border-bottom: solid;
  border-right: solid;
  border-radius: 5px;
  border-color: #000000;
}
.list-section .student-list .student-list-item form {
  float: left;
}
.list-section .student-list .student-list-item .student-list-item-info {
  height: inherit;
}
.list-section .student-list .student-list-item .student-list-item-info img {
  width: auto;
  height: inherit;
  float: left;
  padding: 0 5px;
  background-color: #800000;
  color: #FFFFFF;
}
