body {
  background-color: #FFF;
  font-size: 87.5%; /* base font size is 14px, 87.5% of 14 */
  font-family: Arial, 'Lucida Sans Unicode';
  line-height: 1.5;
  text-align: left;
}

a {
  text-decoration: none;
}
a:link, a:visited {
  color: #0000FF;
}
a:hover, a:active {
  color: #8080FF;
}

.body {
  margin: 0 auto; /* centers content */
  width: 90%; /* width was 100%, so make 85% container */
  min-width: 1240px;
  clear: both; /* makes container in such a way there will be no floating content on left or right */
}

.main-header img {
  width: 30%;
  height: auto;
  margin: 2% 0;
}

/* curved borders */
.main-header nav, .all-content, .account-section,
.bottomcontent, .actions-section, .middle-sidebar, .bottom-sidebar,
.mainFooter, .list-section {
  border-radius: 5px;  /* curves corners of borders */
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

.main-header nav {
  background-color: #800000;
  height: 40px;
/*  border-radius: 5px;  curves corners of borders
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;*/
}

.main-header nav ul {
    list-style: none;
    margin: 0 auto;
    padding-left: 25px;
}

.main-header nav ul li {
  float: left;
  display: inline;
  font-size: 14px;
}

.main-header nav a:link, .main-header nav a:visited {
  color: #FFF;
  display: inline-block;
  padding: 10px 30px;
  height: 20px;
}

.main-header nav a:hover, .main-header nav a:active,
.main-header nav ul .active a, .main-header nav .active a:visited {
  background-color: #000000;
  text-shadow: none; /* remove any possible shadows */
}

.main-header nav li a {
/*  border-radius: 5px;  curves corners of borders
-moz-border-radius: 5px;
-webkit-border-radius: 5px;*/
}

.all-content {
  line-height: 25px;
  overflow: auto;
/*  border-radius: 5px;  curves corners of borders
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;*/
}

.main-content {
  width: 79%;
  float: left;
}

.side-content {
  width: 19%;
  float: right;
}

.list-section { /* for lists like in students page and requests page */
  overflow: auto;
  background-color: #101010;
  border: solid;
  border-color: #800000;
  margin-top: 10px;
}

.Current-Assignments {
 width: 75%;
 margin: 20px;
}
